<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
  </head>
  <body>
    <section id="post-content">
      <form method="post" action="make-post">
        <div class="blog-title-layer">
          <label for="blog-title"></label>
          <input type="text" id="blog-title" name="title" placeholder="Title" /><br>
          <label for="blog-description"></label>
          <textarea id="blog-description" name="description" placeholder="Give a short description about your story..." class="scroll"></textarea>
          <div>
            <label for="photo">Upload a cover Image for your story !</label>
            <input type="file" id="photo" name="photo" accept="image/png,image/jpeg,image/jpg" />
            <button type="submit" class="blog-post-btn">Publish</button>
          </div>
        </div>
        <div class="blog-content-layer">
          <label for="blog-content"></label>
          <textarea id="blog-content" placeholder="Tell your story..." name="contents" class="scroll"></textarea>
        </div>
      </form>
    </section>
  </body>
</html>
