<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
<!--<section>-->
<!--    <div th:each="blog : ${allBlogs}" class="user-blogs">-->
<!--        <div class="user-blog-header">-->
<!--            <h3 th:text="${blog.title}"></h3>-->
<!--            <time th:text="${blog.pubDate}"></time>-->
<!--            <p th:text="${blog.description}"></p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <a th:href="@{/user/blog/edit?id={id}(id=${blog.id})}">Edit</a>-->
<!--            <a th:href="@{/user/blog/delete?id={id}(id=${blog.id})}">Delete</a>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="user-blog-content" th:utext="${blog.contents}">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
<!--</section>-->
<section id="blog-collection">
    <div  class="user-blogs">
        <div th:each="blog : ${allBlogs}" class="user-blog">
            <div class="user-blog-l-card">
                <div class="blog-card-header">
                    <div>
                        <img src="../../Images/ivan-maljarenko-A2ifbtQ1qK8-unsplash.jpg" alt="user">
                    </div>
                    <h5>Name</h5>
                </div>
                <h3 th:text="${blog.title}"></h3>
                <p th:text="${blog.description}"></p>
                <time th:text="${blog.pubDate}"></time>
                <div class="blog-controller">
                    <a th:href="@{/user/blog/edit?id={id}(id=${blog.id})}" class="blog-active">Edit</a>
                    <a th:href="@{/user/blog/delete?id={id}(id=${blog.id})}" class="blog-danger">Delete</a>
                </div>
            </div>
            <div class="blog-thumbnail">
                <img src="../../Images/ivan-maljarenko-A2ifbtQ1qK8-unsplash.jpg" alt="blog">
            </div>
        </div>
    </div>
    <div class="blog-discovery">
        <div class="discovery-content">
            <h4>Discover more of what matters to you</h4>
            <ul>
                <li><a href="">Programming</a></li>
                <li><a href="">Data Science</a></li>
                <li><a href="">Technology</a></li>
                <li><a href="">Self Improvement</a></li>
                <li><a href="">Writing</a></li>
                <li><a href="">Relationships</a></li>
                <li><a href="">Machine Learning</a></li>
                <li><a href="">Productivity</a></li>
                <li><a href="">Politics</a></li>
            </ul>
        </div>
        <hr>
        <footer>
            <ul>
                <li><a href="">Help</a></li>
                <li><a href="">Status</a></li>
                <li><a href="">Writers</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Text to speech</a></li>
                <li><a href="">Teams</a></li>
            </ul>
        </footer>
    </div>
</section>
</body>
</html>