<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
<section>
    <div th:each="blog : ${allBlogs}" class="user-blogs">
        <div class="user-blog-header">
            <h3 th:text="${blog.title}"></h3>
            <time th:text="${blog.pubDate}"></time>
            <p th:text="${blog.description}"></p>
        </div>
        <div>
            <a href="/user/edit">Edit</a>
            <a href="#">Delete</a>
        </div>
        <div class="user-blog-content" th:utext="${blog.contents}">

        </div>
    </div>
</section>
</body>
</html>