<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section>
    <h1>
        Page After login
    </h1>
    <div th:each="blog : ${blogs}" class="user-blogs">
        <div class="user-blog-header">
            <h5 th:text="${blog.name}"></h5>
            <time th:text="${blog.blogResponseDto.pubDate}"></time>
            <h3 th:text="${blog.blogResponseDto.title}"></h3>
            <p th:text="${blog.blogResponseDto.description}"></p>
        </div>
    </div>
<!--    <h2>Name:[[${user.name}]]</h2>-->
<!--    <h2>Username:[[${user.username}]]</h2>-->
<!--    <h2>Email:[[${user.email}]]</h2>-->
</section>

</body>
</html>