<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<!--Home landing section-->
<section>
    <h1>Index</h1>
</section>

<section>
    <h4>Trending Section</h4>
    <div th:each="blog : ${trending}" class="user-blogs">
        <div class="user-blog-header">
            <h5 th:text="${blog.name}"></h5>
            <h3 th:text="${blog.blogResponseDto.title}"></h3>
            <time th:text="${blog.blogResponseDto.pubDate}"></time>
        </div>
    </div>
</section>
<!--Blog section-->
<section>
    <div th:each="blog : ${blogs}" class="user-blogs">
        <a th:href="@{/view-blog/}+${blog.blogResponseDto.id}">
            <div class="user-blog-header">
                <h5 th:text="${blog.name}"></h5>
                <h3 th:text="${blog.blogResponseDto.title}"></h3>
                <time th:text="${blog.blogResponseDto.pubDate}"></time>
                <p th:text="${blog.blogResponseDto.description}"></p>
            </div>
        </a>
    </div>
</section>

</body>
</html>