<!DOCTYPE HTML>
<html lang="" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::form})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <div>
        <h1>Message Block</h1>
        <th:block th:if="${session.message}">
            <p>
                [[${session.message}]]
            </p>
<!--            remove attribute -->
            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </th:block>
    </div>
    <form method="post" action="createUser">
        <label for="name">Full Name<span>*</span></label>
        <input id="name" type="text" name="name" required><br>

        <label for="username">Username<span>*</span></label>
        <input id="username" type="text" name="username" required><br>

        <label for="email">Email<span>*</span></label>
        <input id="email" type="email" name="email" required><br>

        <label for="mobile">Mobile<span>*</span></label>
        <input id="mobile" type="tel" name="mobile" required><br>

        <label for="password">Password<span>*</span></label>
        <input id="password" type="password" name="password" required><br>

        <button type="submit">Register</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>