<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>

</head>

<body>
    <section>
        <div class="user-blogs">
            <div class="user-blog-header">
                <h3 th:text="${blogs.title}"></h3>
                <time th:text="${blogs.pubDate}"></time>
            </div>
            <div class="user-blog-content" th:utext="${blogs.contents}">
            </div>
        </div>
    </section>

</body>
</html>